@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&family=PT+Serif:wght@700&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&family=Satisfy&display=swap");

.getStarted__container h1 {
  text-align: center;
  font-size: 59px;
  font-family: "PT Serif", serif;
}

.getStarted__container p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  /* font-family: 'Lobster', cursive;
    font-family: 'Satisfy', cursive; */
}

.getStartedBg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(57, 57, 248, 0.88) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(57, 57, 248, 0.88) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(57, 57, 248, 0.88) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3939F8', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(57, 57, 248, 0.88) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(57, 57, 248, 0.88) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );
}

.getStarted__main-content {
  display: flex;
  flex-direction: row;
}

.getStarted__textual-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  flex: 1;
}

.getStartedImg-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.getStartedImg-content img {
  width: 100%;
}

.getStarted__ourStory-btn {
}

@media screen and (max-width: 1200px) {
  .getStarted__main-content {
    display: flex;
    flex-direction: column;
  }
  .getStartedImg-content img {
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .getStarted__textual-content p {
    font-size: 35px;
  }

  .getStartedImg-content img {
    width: 80%;
  }
  .getStarted__container h1 {
    font-size: 45px;
  }
}
