.BitCoinJourney__container {
  display: flex;
  flex-direction: row;
}

.BitCoinJourney-image {
  display: flex;
  flex: 1;
  padding: 1rem;
  margin-right: 1.5rem;
}

.BitCoinJourney-image img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 16px 15px 47px darkblue;
}

.BitCoinJourney__text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.BitCoinJourney__text h1 {
  font-family: "Lobster", cursive;
  color: white;
}

.BitCoinJourney__button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.7rem;
  color: white;
  font-size: 1rem;
}

.BitCoinJourney__button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 1020px) {
  .BitCoinJourney__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .BitCoinJourney__text {
    margin-left: 1rem;
  }
  .BitCoinJourney-image img {
    width: 80%;
  }
}
