.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
}

.navbar__logo {
  margin-left: 20px;
}

.nav_Links {
  display: flex;
  /* justify-content: space-between; */
}

.nav_Links p {
  margin-right: 15px;
  padding: 20px;
  font-size: 24px;
}

.nav_Links p:hover {
  cursor: pointer;
  color: purple;
}

.navbar__mobile-navigation {
  display: none;
}

@media screen and (max-width: 920px) {
  .navbar__mobile-navigation {
    display: flex;
    flex-direction: column;
  }
  .navbar__mobile-nav_react-icons {
    margin-right: 0.8rem;
  }

  .navbar__mobile-navigation p:hover {
    cursor: pointer;
    color: purple;
  }

  .mobile__navigation-links {
    background: gray;
    position: absolute;
    right: 0px;
    padding: 0 56px;
    top: 83px;
  }
  .mobile__navigation-links p {
    font-size: 25px;
  }

  .nav_Links {
    display: none;
  }
}

.scale-up-top {
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
